<div id="<%= dom_id carro %>">
  <p>
    <strong>Fabricante:</strong>
    <%= carro.fabricante %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= carro.modelo %>
  </p>

  <p>
    <strong>Ano:</strong>
    <%= carro.ano %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= carro.preço %>
  </p>
  </p>

  <p>
    <strong>Placa:</strong>
    <%= carro.placa %>
  </p>

</div>
